.boxcenter{
    width: 70%;
    margin: 0 auto;
}
.row{
    float: left;
    width: 100%;
}
.mb{
    margin-bottom: 30px;
}
.demo{
    background-color: antiquewhite;
    min-height: 100px;
}
.header{
    background-color: aquamarine;
    border: 1px #090 solid;
    
}