* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 12px 50px;
  height: 70px;
  align-items: center;
  border: 2px solid #ccc;
  background-color: #fff;
  transition: all 0.3s;
}
.header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
}
body {
  min-height: 100vw;
  display: flex;
  flex-direction: column;
}
.logo {
  width: 206px;
  height: 100%;
}
.logo img {
  width: 100%;
  height: 100%;
}
.menu {
  flex: 3;
  display: flex;
}
.menu > li {
  padding: 0 12px;
  position: relative;
}
.menu > li:hover .sub-menu {
  visibility: visible;
  top: 30px;
}
.menu > li a:hover {
  transition: 0.3s;
  color: red;
}
.sub-menu {
  position: absolute;
  width: 150px;
  border: 1px solid #ccc;
  padding: 10px 0 10px 20px;
  visibility: hidden;
  top: 50px;
  transition: 0.3s;
  z-index: 10;
  background-color: #fff;
}
.sub-menu li a {
  padding: 10px;
}
.menu li a {
  font-size: 16px;
  font-weight: bold;
  display: block;
  line-height: 20px;
  padding: 10px;
}
.others {
  flex: 1;
  display: flex;
  align-items: center;
}
.others > li {
  padding: 0 12px;
}
.others > li:first-child {
  position: relative;
}
.others > li:first-child input {
  width: 100%;
  padding: 6px 12px;
  border: none;
  border-bottom: 1px solid #333;
  outline: none;
}
.others > li:first-child svg {
  position: absolute;
  right: 20px;
  top: 8px;
}

/* Banner */
.banner {
  width: 100%;
  height: 600px;
  background-image: url(../img/banner.jpg);
}

/* Footer */
footer {
  text-align: center;
  color: white;
  background-color: black;
  padding: 60px 0;
  margin-top: auto;
}

footer li a {
  color: white;
}
.footer-top {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.footer-top li a {
  margin: 0 20px;
  transition: 0.3s;
}
.footer-top li a:hover {
  color: red;
  transition: 0.3s;
}
.footer-logo {
  padding: 20px;
  background-color: white;
  margin: 40px 0;
}
.footer-bottom p {
  margin: 15px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

/* category  */
.category {
  padding: 100px 0;
}
.category-top {
  margin-bottom: 50px;
}
.category-top p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 12px;
  font-size: 12px;
  font-weight: bold;
}
.category-left {
  width: 15%;
}
.category-right {
  width: 85%;
}
.category-right-top-item:first-child {
  flex: 2;
  font-size: 16px;
}
.category-right-top-item {
  flex: 1;
  padding: 0 12px;
}
.category-right-top-item p {
  font-weight: bold;
  font-size: 20px;
}
.category-right-top-item button,
.category-right-top-item select {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solod #dddddd;
  cursor: pointer;
  font-weight: bold;
}
.category-right-content {
  margin-top: 20px;
  justify-content: center;
  margin-left: -12px;
}
.category-right-content-item {
  width: calc(25% - 12px);
  text-align: center;
  margin-left: 12px;
  margin-bottom: 20px;
}
.category-right-content-item h1 {
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 6px;
}
.category-right-content-item img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.category-right-content-item {
  font-size: 12px;
}
/* category-left */
.category-left ul li {
  padding: 12px 0;
}
.category-left .category-left-li-title {
  color: black;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.category-left ul li ul li {
  padding-left: 10px;
}
.category-left-li-list {
  color: black;
  font-size: 10px;
}

