.boxcenter{
    width: 70%;
    margin: 0 auto;
}
.row{
    float:left;
    width: 100%;
}
.mb{
    margin-bottom:30px;
}
.demo{
    background-color: white;
    min-height:100px;
}
.header{
    background-color: green;
}